#banner
	.banner_content
		%h1 File Cabinet
		%p Organize your life in a easy way!
		%button= link_to "Enter", new_user_registration_path

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Organize
				%p Tumblr XOXO cronut, copper mug hot chicken 8-bit enamel pin knausgaard. Normcore celiac enamel pin, hashtag chia vexillologist art party gochujang pinterest chartreuse. Chillwave ugh hashtag prism chartreuse iceland, neutra polaroid lomo. Mustache schlitz irony XOXO. Narwhal kitsch locavore tumblr. Waistcoat DIY unicorn live-edge, polaroid hexagon chambray succulents microdosing tattooed fap. Waistcoat humblebrag pop-up, pug tumblr etsy gentrify copper mug hexagon marfa squid thundercats la croix pabst.


#bottom_cta
	.wrapper
		%h2 Go Ahead!
		%br
		%button= link_to "Join Now", new_user_registration_path